#content{
	text-align: center;
	padding-top: 0%;
	width: 100%;
}
#addForm {
	min-width: 120px;
	color: black;
	align-content: center
	

}
body{
	background-color: #c2c2a9;
	font: small Arial, Helvetica, Verdana, sans-serif;
}
#more:hover{
	background-color: green;
	color: white;
}
#login{
	border: 1px solid gray;
	height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: lightblue;
}
#login a {
    padding-top: 3px;
    padding-bottom: 2px;
}
#login:hover{
	background-color: gray;
}
#login a:hover{
	color:transparent;
}
#reg{
	border: 1px solid gray;
	height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: lightblue;
}
#reg a {
    padding-top: 3px;
    padding-bottom: 2px;
}
#reg:hover{
	background-color: green;
}
#reg a:hover{
	color:transparent;
}
.navbar-default {
    background-color: currentColor;
    border-color: currentColor;
}
#signup{
	width: 40%;
	margin-left: 30%;
	margin-right:30%;
	margin-top: 10%;
}
#signIn {
	margin-left: 300px;
	
}
#reqrits{
	font-size: 12px;
	margin-left: 250px;

}
#inputEmail3, #inputPassword3{
	width: 60%;
	min-width: 120px;
	height: 50px;
}
#newuser{
	color: black;
	margin-top:14px;
}
#paytable {
	margin : 0;
	padding: 5%;
	width: 400px;
	box-sizing: border-box;

}
#addStaffs {
	margin: auto;
	padding-bottom: 0%;
	width: 300px;
	padding-top: 50px;
}
#addStaff {
	margin-bottom: 0pt;
	padding-bottom: 0%;
	width: 200px;
	min-width: 120px;
	padding-top: 90px;
	margin: 5;
}
#welcome {
	padding-bottom: 20px;
}
#searchbutton {
	border-radius: 15px;

}
#wrapper {
	background-color: #fdf8f2;
	color: black;
	padding: 10px;
	width: 100%;
	position: fixed;
}
#tagline {
	font-weight: bold;
	background-color: #fdf8f2;
	color: #050845;
	font-style: italic;
	margin: 0;
	padding: 0 0 0 20px;
	width: 300px;
	float: left;	
}
#mainfeature {
	background-repeat: no-repeat;
	background-color: #112236;
	color: white;
	padding-top: 50px;
	float: left;
	max-width: 920;
    min-width: auto;
    width: 64%;
}
#sidebar  {
	float: right;
	width: 400px;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #3b3b3b;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-position: center;
	background-color: whitesmoke;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
}
h2 {
	text-align: center;
}


/* media query */

@media screen and (max-width: 900px) {
	body {
		font-size: inherit;
	}
	#addUser {
		align: center;
		width: 100%;
		padding-top: 50px;
		margin: 5px;
		float: left;
		color: white;
	}
	#mainfeature {
    	background-repeat: no-repeat;
		color: white;
		padding: 0;
    	padding-top: 0;
		float: none;
		width: 100%;
		max-width: 1200px;
	}
	#paytable {
		margin-left: 5;
		margin-right: 5;
		padding: 5%;
		width: 100%;
		box-sizing: border-box;
	}
	#addStaff {
		display: none;
	}
	#addstafflink {
		float: right;
		margin-right: 5;
		display: inline;
	}
	#signup {
		margin: auto;
		padding-bottom: 0%;
		padding-top: 50px;
		transform: scale(2);
	}
	#addForm {
		min-width: 120px;
		width: 200px;
		float: none;
		margin: auto;
	}


}
