#content{
	text-align: center;
	padding-top: 0%;
	width: 100%;
}
#addForm {
	min-width: 120px;
	color: black;
	align-content: center
	

}
body{
	background-color: #c2c2a9;
	font: small Arial, Helvetica, Verdana, sans-serif;
}
#more:hover{
	background-color: green;
	color: white;
}
#login{
	border: 1px solid gray;
	height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: lightblue;
}
#login a {
    padding-top: 3px;
    padding-bottom: 2px;
}
#login:hover{
	background-color: gray;
}
#login a:hover{
	color:transparent;
}
#reg{
	border: 1px solid gray;
	height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: lightblue;
}
#reg a {
    padding-top: 3px;
    padding-bottom: 2px;
}
#reg:hover{
	background-color: green;
}
#reg a:hover{
	color:transparent;
}
.navbar-default {
    background-color: currentColor;
    border-color: currentColor;
}
#signup{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}
#inputEmail3, #inputPassword3{
	width: 80%;
	min-width: 150px;
}
#newuser{
	color: black;
	margin-top:14px;
}
#paytable {
	margin : 0;
	padding: 5%;
	width: 400px;
	box-sizing: border-box;

}
#addStaffs {
	margin: auto;
	padding-bottom: 0%;
	width: 300px;
	padding-top: 50px;
}
#addStaff {
	margin-bottom: 0pt;
	padding-bottom: 0%;
	width: 200px;
	min-width: 120px;
	padding-top: 90px;
	margin: 5;
}
#searchbutton {
	border-radius: 15px;

}
#wrapper {
	background-color: #fdf8f2;
	color: black;
	padding: 10px;
	width: 1350px;
	position: fixed;
}
#tagline {
	font-weight: bold;
	background-color: #fdf8f2;
	color: #050845;
	font-style: italic;
	margin: 0;
	padding: 0 0 0 20px;
	width: 300px;
	float: left;	
}
#mainfeature {
	background-repeat: no-repeat;
	background-color: #112236;
	color: white;
	padding-top: 50px;
	float: left;
	max-width: 920;
    min-width: auto;
    width: 64%;
}
#sidebar  {
	float: right;
	width: 400px;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #3b3b3b;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: white;
}
.rows:nth-of-type(odd) {
	background: #e9e9e9;
}
.rows:nth-of-type(even) {
	background: rgb(140, 140, 243);
}

#thead {
	background: rgb(52, 36, 139);
	color: #e9e9e9;
	align: right;
}
#employee {
	color: #112236;
	font-size: .8em;
}
table#paytable {
	width: 100%;
}
table#paytable th { overflow: visible;}
#addUser {
	margin: auto;
	width: 180px;
	color: white;
	margin-left: 5;
}
#deleteId, #payId{
	width: 50px;
}
#sidePanel{
	padding-top: 50px;

}
#searchinput {
	width: 80px;
}
#navi {
	position: fixed;
	width: 100%;
	max-height: 50px;
}
#addstafflink {
	display: none;
}

#acctbank, #accttype, #level, #qualification {
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
}
#addFormCont {
	color: black;
}
#updateId {
	width: 50px;
}
.select-cont {
	width: 40px;

}
.spaces {
	padding-bottom: 10;
}
#maincont {
	width: 100%;
}
#welcome {
	
}


/* media query */

@media screen and (max-width: 1100px) {
	body {
		font-size: inherit;
	}
	#addUser {
		align: center;
		width: 100%;
		padding-top: 50px;
		margin: 5px;
		float: left;
		color: white;
	}
	#mainfeature {
    	background-repeat: no-repeat;
		color: white;
		padding: 0;
    	padding-top: 0;
		float: none;
		width: 100%;
		max-width: 1200px;
	}
	#paytable {
		margin-left: 5;
		margin-right: 5;
		padding: 5%;
		width: 100%;
		box-sizing: border-box;
	}
	#addStaff {
		display: none;
	}
	#addstafflink {
		float: right;
		margin-right: 5;
		display: inline;
	}
	#addStaffs {
		margin: auto;
		padding-bottom: 0%;
		transform: scale(2);
	}
	#addForm {
		min-width: 120px;
		width: 200px;
		float: none;
		margin: auto;
	}


}
